include README.md
include README_CN.md
include LICENSE
include requirements.txt
recursive-include xie *.py
recursive-include xie/templates *.html
recursive-include tests *.py
recursive-include data *.json
recursive-include images *.png *.jpg *.gif
